
@{
    ViewBag.Title = "AddUser";
    Layout = "~/Views/_LayoutAdminPanel.cshtml";
}

<div class="main-panel">
    <div class="content-wrapper">
        <div class="page-header">
            <h3 class="page-title"></h3>
        </div>
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Add User</h4>

                <form action="//submit.form" id="SignUp100" method="post" onsubmit="return ValidateForm(this);">
                    <center>
                        <table border="0" cellpadding="5" cellspacing="0" width="600">

                            <tr>
                                <td>
                                    <label for="UserName">User Name:</label>
                                </td>
                                <td>
                                    <input name="UserName" type="text" maxlength="43" style="width: 146px;" />
                                </td>

                                <td>
                                    <label for="LoginId ">Login Id :</label>
                                </td>
                                <td>
                                    <input name="LoginId " type="text" maxlength="43" style="width: 146px;" />
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <label for="EmailId">Email Id:</label>
                                </td>
                                <td>
                                    <input name="EmailId" type="text" maxlength="43" style="width: 146px;" />
                                </td>

                                <td>
                                    <label for="Match">Match:</label>
                                </td>
                                <td>
                                    <input name="Match" type="text" maxlength="43" style="width: 146px;" />
                                </td>
                                

                            </tr>


                            <tr>
                                <td>
                                    <label for="Currency">Currency:</label>
                                </td>
                                <td>
                                    <select style="width: 146px;">
                                        <option value="SelectCurrency">Select Currency</option>
                                        <option value="saab">INR</option>
                                        <option value="opel">USD</option>
                                        <option value="audi">EUR</option>
                                        <option value="audi">GBP</option>
                                        <option value="audi">AED</option>
                                        <option value="audi">CAD</option>
                                        <option value="audi">AUD</option>
                                    </select>
                                </td>
                                <td>

                                </td>
                                <td>
                                    <input name="Add" type="submit" class="btn btn-success" value="Add" />

                                    <input name="Add" type="submit" class="btn btn-danger" value="Reset" />
                                </td>
                            </tr>



                        </table>
                    </center>
                </form>


            </div>

    </div>
</div>
