
@{
    ViewBag.Title = "InPlay";
    Layout = "~/Views/_Betzazz.cshtml";
}

<div class="content-body">
    <!-- Revenue, Hit Rate & Deals -->
    <div class="row">
        <div class="col-lg-12">

            <div class="card inplay">
                @*This card for Cricket Inplay Events*@
                <h4 class="flex-row--title text-center">In-Play</h4>
                <div class="card-body my-card-body">

                    <div class="col col--xs-8 col--sm-10 col--md-10 col--lg-11">
                        <span class="flex-row--title text-left"><h4>Tennis</h4></span>

                        <div class="col col--xs-8 col--sm-10 col--md-4 col--lg-4 text-left eventbDiv">
                            @*<span class="caret"></span> <span></span>*@
                            <ul class="list-unstyled components">
                                <li class="active">

                                    <a href="#Testinplayview" data-toggle="collapse" aria-expanded="false">
                                        Test Matches

                                    </a>

                                    <ul class="collapse list-unstyled" id="Testinplayview">
                                        <li><a href="#">Home 1</a></li>
                                        <li><a href="#">Home 2</a></li>
                                        <li><a href="#">Home 3</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="col col--xs-8 col--sm-10 col--md-4 col--lg-4 text-left eventbDiv">
                            <ul class="list-unstyled components">
                                <li class="active">
                                    <a href="#Ondayinplayview" data-toggle="collapse" aria-expanded="false">
                                        One-Day Internationals
                                    </a>
                                    <ul class="collapse list-unstyled" id="Ondayinplayview">
                                        <li><a href="#">Home 1</a></li>
                                        <li><a href="#">Home 2</a></li>
                                        <li><a href="#">Home 3</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="col col--xs-8 col--sm-10 col--md-4 col--lg-4 text-left eventbDiv">

                            <ul class="list-unstyled components">
                                <li class="active">
                                    <a href="#T20inplayview" data-toggle="collapse" aria-expanded="false">
                                        Twenty 20
                                    </a>
                                    <ul class="collapse list-unstyled" id="T20inplayview">
                                        <li><a href="#">Home 1</a></li>
                                        <li><a href="#">Home 2</a></li>
                                        <li><a href="#">Home 3</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="col col--xs-8 col--sm-10 col--md-4 col--lg-4 text-left eventbDiv">

                            <ul class="list-unstyled components">
                                <li class="active">
                                    <a href="#T20Intinplayview" data-toggle="collapse" aria-expanded="false">
                                        Twenty 20 Internationals
                                    </a>
                                    <ul class="collapse list-unstyled" id="T20Intinplayview">
                                        <li><a href="#">Home 1</a></li>
                                        <li><a href="#">Home 2</a></li>
                                        <li><a href="#">Home 3</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="col col--xs-8 col--sm-10 col--md-4 col--lg-4 text-left eventbDiv">
                            <ul class="list-unstyled components">
                                <li class="active">
                                    <a href="#PLinplayview" data-toggle="collapse" aria-expanded="false">
                                        Premier league
                                    </a>
                                    <ul class="collapse list-unstyled" id="PLinplayview">
                                        <li><a href="#">Home 1</a></li>
                                        <li><a href="#">Home 2</a></li>
                                        <li><a href="#">Home 3</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>


            </div>

        </div>
    </div>
</div>